body{
    background-color: #dbeafe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.tarjeta{
    background-color: white;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1{
    color: #2563eb;
}

h2{
    color: #333;
}

h3{
    color: #555;
}

.frase{
    margin-top: 20px;
    font-style: italic;
}