body{
    margin: 0;
    background: linear-gradient(to right, #2563eb, #7c3aed);
    color: white;
}

header{
    text-align: center;
    padding: 30px;
}

header h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.contenido{
    width: 80%;
    margin: auto;
    background-color: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
}

.arial{
    font-family: Arial;
    font-size: 18px;
    color: #facc15;
}

.verdana{
    font-family: Verdana;
    font-size: 20px;
    color: #a7f3d0;
}

.externa{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: white;
}

.titulo2{
    font-family: 'Oswald', sans-serif;
    color: #fda4af;
}